.list {
  background-color: darkgrey;
  border-radius: 5px;
  box-shadow: 0 5px 10px gray;
  max-width: 600px;
  margin: auto;
  box-sizing: border-box;
  padding: 10px;
  font-size: 2rem;
  @media screen and (max-width: 500px) {
    font-size: 1.5rem;
  }
}
.item {
  background-color: blanchedalmond;
  margin: 10px;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 8px;
}
.complete {
  text-decoration: line-through;
}
