.list {
  background-color: darkgrey;
  border-radius: 5px;
  box-shadow: 0 5px 10px gray;
  width: 50%;
  margin: auto;
  box-sizing: border-box;
  padding: 10px;
  font-size: 2rem;
}
.item {
  background-color: blanchedalmond;
  margin: 10px;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 8px;
}
.complete {
  text-decoration: line-through;
}
